<h1 class="text-center">All our flats: (<%= Flat.count %>)</h1>

<div class="main cards d-flex justify-content-around">
  <% @flats.each do |flat| %>
    <div class="card" style="width: 18rem;">
      <div class="card-body d-flex flex-column justify-content-around">
        <div class="title">
          <h5 class="card-title"> <%= flat.name %></h5>
          <h6 class="card-subtitle mb-2 text-muted"> <%= flat.address %> </h6>
        </div>
        <p class="card-text"><%= flat.description %></p>
        <div class="info-box d-flex flex-column text-center">
          <div class="info-details d-flex justify-content-between">
            <i class="fas fa-dollar-sign"> <%= flat.price_per_night %></i>
            <i class="fas fa-user-friends"> <%= flat.number_of_guests %> </i>
          </div>
          <button type="button" class="btn btn-dark mt-3">More info</button>
        </div>
      </div>
    </div>
  <% end %>
</div>
