<h1><%= @flat.name %></h1>
<h2> <%= @flat.address %></h2>
<p> <%= @flat.description %></p>
<i class="fas fa-dollar-sign"> <%= @flat.price_per_night %></i>
<i class="fas fa-user-friends"> <%= @flat.number_of_guests %> </i>
<%= link_to "Back", flats_path %>
